# Ansible'ın çalışma parametrelerini, envanter yolunu ve SSH ayarlarını belirleyen konfigürasyon dosyası.
[defaults]
inventory = inventory.ini
private_key_file = ../ssh_keys/k8s_local_key
remote_user = ubuntu
host_key_checking = False
deprecation_warnings = False
